{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Réinitialisation de mot de passe</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs Section -->

  <section id="reset_psw" class="contact section-bg">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5 col-md-8">
            {{ form_start(passForm) }}
                {{ form_row(passForm.plainPassword)}}
                <div class="text-center my-3 mt-5"><button type="submit">Réinitialiser mon mot de passe</button></div>
            {{ form_end(passForm) }}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
